
*{
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}
  
.navbar {
    background: #89b6d4;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 5px;
}


.navbar-name {
    align-self: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    margin-left: 40px;
    margin-right: auto;
    color: #FFFFFF;
}

.navbar-today {
    align-self: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: -0.075em;
    margin-right: 40px;
    color: #FFFFFF;
}

.bar-control {
    background: #85adc7;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 10px;
}

.btn-liberate {
    background-color: white;
    border-color: black;
    border-radius: 4px;
    margin-left: 30px;
    margin-right: auto;
    padding: 5px;
}

.btn-create-task {
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    border-color: black;
    margin-left: 30px;
    margin-right: auto;
    padding: 5px;
}

.btn-back-home {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    border-color: black;
    width: 200px;
    padding: 5px;
}

.order-selector {
    margin-right: 30px;
    padding-left: 10px;
}

.order-selector-label {
    margin-right: 10px;
}

.btn-edit {
    margin-right: auto;
    background-color: white;
    border-radius: 4px;
    padding: 3px;
}

.task-container {
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
}

.task {
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid rgb(19, 19, 19);
}

.delete-task-ckeckbox {
    margin-left: auto;
    margin-right: auto;
}

.task-title {
    width: 300px;
    padding: 10px;
    margin-right: auto;
}

.date-creation {
    margin-right: 30px;
}

.date-expire {
    margin-right: auto;
}

.task-state {
    width: 90px;
    padding: 10px;
    align-content: center;
    margin-right: auto;
}

.create-task-container {
    margin-left: 5%;
    margin-right: 5%;
}

.create-task-title {
    display: flex;
    justify-content: center;
}

.create-task-form {
    display: flex;
    justify-content: center;

}

.form-control{
    display: grid;
    grid-template-columns: [labels] auto [controls] 2fr;
    grid-template-rows: auto auto auto auto ;
    grid-gap: .8em;
    background: #eee;
    padding: 1.2em;
}

.create-task-btn {
    color: black;
    background-color: white;
    border-radius: 4px;
    border-color: black;
    padding: 5px;
}

.task-toDo {
    background-color: rgb(182, 228, 228);
}

.task-expire {
    background-color: rgb(214, 157, 50);
}

.task-completed {
    background-color: rgba(123, 138, 138, 0.541);
}

.warning-message {
    margin : auto;
}